---
import { textGradient } from "../utils/constants";

export interface Props {
  firstTextContent: any;
  secondTextContent: any;
  imgPath: string;
  imgAlt: string;
  reverse?: boolean;
  mainTitle?: any;
  secundaryTitle?: any;
  sectionId: string;
}

const {
  firstTextContent,
  secondTextContent,
  imgPath,
  imgAlt,
  reverse,
  mainTitle,
  secundaryTitle,
  sectionId,
} = Astro.props;
---

<section
  id={sectionId}
  class={`h-fit my-20 md:my-40 min-h-[20rem] max-w-[55rem] mx-auto grid grid-cols-1 gap-12 md:grid-cols-2 items-center justify-items-center px-6`}
>
  <div class={`flex flex-col m-auto ${reverse && "lg:col-start-2"}`}>
    {
      mainTitle ? (
        <h1 class={`text-5xl text-start font-extrabold ${textGradient}`}>
          {mainTitle}
        </h1>
      ) : null
    }
    {
      secundaryTitle ? (
        <h2 class={`text-4xl text-start font-extrabold pb-2 ${textGradient}`}>
          {secundaryTitle}
        </h2>
      ) : null
    }
    <slot />
    <div class="flex flex-col gap-2">
      <p>{firstTextContent}</p>
      <p>{secondTextContent}</p>
    </div>
  </div>

  <img
    src={imgPath}
    alt={imgAlt}
    class={`${reverse && "md:col-start-1 md:row-start-1"}`}
  />
</section>
