---
import { textGradient } from "../utils/constants";
import i18next, { t } from "i18next";
import { Trans } from "astro-i18next/components";
export interface Props {
  p1: any;
  p2: any;
  img: string;
  imgAlt: string;
  reverse?: boolean;
  title_h1?: any;
  title_h2?: any;
}

const { p1, p2, img, imgAlt, reverse, title_h1, title_h2 } = Astro.props;
---

<section
  class={`h-screen min-h-[20rem] flex justify-between ${
    reverse ? "flex-row-reverse" : null
  }`}
>
  <div class="w-1/2 max-w-sm flex flex-col m-auto">
    {
      title_h1 ? (
        <h1 class={`text-5xl text-start font-extrabold ${textGradient}`}>
          {title_h1}
        </h1>
      ) : null
    }
    {
      title_h2 ? (
        <h2 class={`text-4xl text-start font-extrabold ${textGradient}`}>
          {title_h2}
        </h2>
      ) : null
    }
    <slot />
    <div class="flex flex-col gap-2">
      <p>{p1}</p>
      <p>{p2}</p>
    </div>
  </div>
  <div class="w-1/2 my-auto">
    <img src={img} alt={imgAlt} />
  </div>
</section>
