---
import { backgroundGradientColor } from "../utils/constants";
import dotlabsHandIcon from "../assets/icons/dotlabs-hand.svg";
import facebookIcon from "../assets/social-media/facebook.svg";
import githubIcon from "../assets/social-media/github.svg";
import instagramIcon from "../assets/social-media/instagram.svg";
---

<header class="h-16 sticky top-0 backdrop-blur-[2px] z-10">
  <div
    class={`absolute top-0 w-full h-full ${backgroundGradientColor} opacity-50 `}
  >
  </div>
  <div
    class={`flex justify-between items-center max-w-[90rem] mx-auto px-12 h-full relative text-main `}
  >
    <div class="flex items-center gap-x-4">
      <img src={dotlabsHandIcon} alt="Dotlabs" />
      <span class="font-bold"> Dotlabs()</span>
    </div>
    <nav class="flex gap-x-4">
      <span class="hover:font-semibold">Inicio</span>
      <span class="hover:font-semibold">Fecha</span>
      <span class="hover:font-semibold">Teams</span>
      <span class="hover:font-semibold">Ticket</span>
      <span class="hover:font-semibold">FAQ</span>
      <span class="hover:font-semibold">Map</span>
    </nav>
    <div class="flex gap-x-5">
      <img src={facebookIcon} alt="Facebook" />
      <img src={githubIcon} alt="Github" />
      <img src={instagramIcon} alt="Instagram" />
    </div>
  </div>
</header>
